In [1]:
# import libraries
import psycopg2
import pandas as pd

# get username and password for DB
from config import sql_u
from config import sql_pw
from config import sql_host

In [2]:
# connect to DB
conn = psycopg2.connect(
    host=sql_host,
    port='5432',
    database='postgres',
    user=sql_u,
    password=sql_pw)

cur = conn.cursor()

In [3]:
# run query
sql_query = '''SELECT *
               FROM styles;
            '''

cur.execute(sql_query)

In [4]:
# convert query results to DF
styles_df = pd.DataFrame(cur.fetchall())
styles_df.head()

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
0,1,None,Standard American Beer,None,None,None,None,None,None,None,...,None,None,None,None,False,None,None,None,None,None
1,01A,1,American Light Lager,None,American Lite Lager,2.8,4.2,8,12,2,...,bottom,lagered,north_america,pale_lager,False,traditional,balanced,None,None,None
2,01B,1,American Lager,None,Amerikanisches Pilsner,4.2,5.3,8,18,2,...,bottom,lagered,north_america,pale_lager,False,traditional,balanced,None,None,None
3,01C,1,Cream Ale,None,None,4.2,5.6,8,20,2.5,...,any,None,north_america,pale_ale,False,traditional,balanced,None,None,None
4,01D,1,American Wheat Beer,None,American Wheat,4,5.5,15,30,3,...,any,None,north_america,wheat_beer,False,craft,balanced,None,None,None

In [5]:
# close sql connection
cur.close()
conn.close()