In [90]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing
from sklearn import utils

In [76]:
br_df = pd.read_csv("beer_reviews.csv")
# br_df.head()

In [77]:
b_df = pd.read_csv("beers.csv")
# b_df.head()

In [78]:
r_df = pd.read_csv("reviews.csv")
r_df.head()

,beer_id,username,date,text,look,smell,taste,feel,overall,score
0,271781,bluejacket74,2017-03-17,"750 ml bottle, 2016 vintage, bottle #304 of...",4.00,4.00,4.00,4.25,4.00,4.03
1,125646,_dirty_,2017-12-21,,4.50,4.50,4.50,4.50,4.50,4.50
2,125646,CJDUBYA,2017-12-21,,4.75,4.75,4.75,4.75,4.75,4.75
3,125646,GratefulBeerGuy,2017-12-20,0% 16 oz can. Funny story: As I finally wal...,4.75,4.75,4.50,4.50,4.50,4.58
4,125646,LukeGude,2017-12-20,Classic TH NEIPA. Overflowing head and bouq...,4.25,4.50,4.25,4.25,4.25,4.31

In [79]:
beer_id = r_df["beer_id"]

In [80]:
r_df = r_df.drop(columns = ["username", "text", "beer_id", "date", "overall"])

In [81]:
r_df.dtypes

look     float64
smell    float64
taste    float64
feel     float64
score    float64
dtype: object

In [82]:
# Drop null values
r_df = r_df.dropna()

In [83]:
r_df.dtypes

look     float64
smell    float64
taste    float64
feel     float64
score    float64
dtype: object

In [84]:
# Seperate features from target
y = r_df["score"]
X = r_df.drop(columns = ["score"])

In [85]:
# Split into training and testing
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 5, stratify = y)

In [91]:
# Create LR model
model = LinearRegression()
model.fit(X_train,y_train)
y_pred = model.predict(X_test)

In [92]:
print(model.coef_)
print(model.intercept_)

[0.06013201 0.24013344 0.40012837 0.10009266 0.19981773]
0.00012951292754692645

In [94]:
# importing r2_score module
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

# predicting the accuracy score
score=r2_score(y_test,y_pred)
print(f"R2 score is: {score}")
print(f"Mean Squared Error is: {mean_squared_error(y_test,y_pred)}")
print(f"Root MSE is: {np.sqrt(mean_squared_error(y_test,y_pred))}")

R2 score is: 0.999984884509844
Mean Squared Error is: 4.824378801037413e-06
Root MSE is: 0.002196446858232043