In [18]:
# import libraries
import psycopg2
import pandas as pd

# get username and password for DB
from config import sql_u
from config import sql_pw
from config import sql_host

In [19]:
# connect to DB
conn = psycopg2.connect(
    host=sql_host,
    port='5432',
    database='postgres',
    user=sql_u,
    password=sql_pw)

cur = conn.cursor()

In [20]:
# run query
sql_query = '''SELECT *
               FROM recipes;
            '''

cur.execute(sql_query)

In [21]:
# convert query results to DF
recipes_df = pd.DataFrame(cur.fetchall())
# add column names to DF
num_cols = len(cur.description)
col_names = [i[0] for i in cur.description]
recipes_df.columns = col_names
recipes_df.head()

,beerid,name,url,style,styleid,size_l,og,fg,abv,ibu,...,boilgravity,efficiency,mashthickness,sugarscale,brewmethod,pitchrate,primarytemp,primingmethod,primingamount,userid
0,1,Vanilla Cream Ale,/homebrew/recipe/view/1633/vanilla-cream-ale,Cream Ale,45,21.77,1.055,1.013,5.48,17.65,...,1.038,70.0,0.0,Specific Gravity,All Grain,0.0,17.78,corn sugar,4.5 oz,116.0
1,2,Southern Tier Pumking clone,/homebrew/recipe/view/16367/southern-tier-pumk...,Holiday/Winter Special Spiced Beer,85,20.82,1.083,1.021,8.16,60.65,...,1.07,70.0,0.0,Specific Gravity,All Grain,0.0,0.0,0,0,955.0
2,3,Zombie Dust Clone - EXTRACT,/homebrew/recipe/view/5920/zombie-dust-clone-e...,American IPA,7,18.93,1.063,1.018,5.91,59.25,...,0.0,70.0,0.0,Specific Gravity,extract,0.0,0.0,0,0,0.0
3,4,Zombie Dust Clone - ALL GRAIN,/homebrew/recipe/view/5916/zombie-dust-clone-a...,American IPA,7,22.71,1.061,1.017,5.8,54.48,...,0.0,70.0,0.0,Specific Gravity,All Grain,0.0,0.0,0,0,0.0
4,5,Bakke Brygg Belgisk Blonde 50 l,/homebrew/recipe/view/89534/bakke-brygg-belgis...,Belgian Blond Ale,20,50.0,1.06,1.01,6.48,17.84,...,1.05,72.0,0.0,Specific Gravity,All Grain,0.0,19.0,Sukkerlake,6-7 g sukker/l,18325.0

In [22]:
# run query
sql_query = '''SELECT *
               FROM styles;
            '''

cur.execute(sql_query)

# convert query results to DF
styles_df = pd.DataFrame(cur.fetchall())
# add column names to DF
num_cols = len(cur.description)
col_names = [i[0] for i in cur.description]
styles_df.columns = col_names
styles_df.head()

                    style  styleid
0                 Altbier        1
1  Alternative Grain Beer        2
2  Alternative Sugar Beer        3
3      American Amber Ale        4
4     American Barleywine        5

In [23]:
# run query
sql_query = '''SELECT *
               FROM reviews;
            '''

cur.execute(sql_query)

# convert query results to DF
reviews_df = pd.DataFrame(cur.fetchall())
# add column names to DF
num_cols = len(cur.description)
col_names = [i[0] for i in cur.description]
reviews_df.columns = col_names
reviews_df.head()

,id,brewery_name,beer_style,brewery_id,review_overall,review_aroma,review_appearance,review_palate,review_taste,beer_abv,beer_beerid,beer_name,review_count
0,0,Närke Kulturbryggeri AB,Old Ale,10902.0,4.0,4.5,4.0,4.0,4.5,8.2,57645,! (Old Ale),1.0
1,1,The Covey Restaurant & Brewery,Belgian Dark Ale,13338.0,4.0,4.0,4.0,4.0,4.4,10.0,49236,100,5.0
2,2,Aviator Brewing Company,American IPA,18635.0,4.0,4.0,3.5,4.0,4.0,6.6,50696,100 Pale Ale,1.0
3,3,Flossmoor Station Restaurant & Brewery,Belgian Strong Pale Ale,612.0,4.0,3.5,4.25,4.75,4.5,9.0,44353,12 Belgian Golden Strong Ale,2.0
4,4,Baltika-Baku,Dortmunder / Export Lager,13640.0,3.0,3.0,3.0,3.1666666666666665,3.0,4.8,30080,33 Export,3.0

In [24]:
# close sql connection
cur.close()
conn.close()