## “Beer is proof that God loves us and wants us to be happy.” - Ben Franklin

In [1]:
# Import dependencies
import numpy as numpy
import pandas as pd

In [5]:
# read in the dataset
beer_df = pd.read_csv("../../Final_Project/beer_reviews.csv")
beer_df.head()

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,10325,Vecchio Birraio,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986
1,10325,Vecchio Birraio,1235915097,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,Red Moon,6.2,48213
2,10325,Vecchio Birraio,1235916604,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5,48215
3,10325,Vecchio Birraio,1234725145,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,Sausa Pils,5.0,47969
4,1075,Caldera Brewing Company,1293735206,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7,64883

In [7]:
beer_df.dtypes

brewery_id              int64
brewery_name           object
review_time             int64
review_overall        float64
review_aroma          float64
review_appearance     float64
review_profilename     object
beer_style             object
review_palate         float64
review_taste          float64
beer_name              object
beer_abv              float64
beer_beerid             int64
dtype: object

In [8]:
# Count the rows
len(beer_df)

1586614

In [12]:
# Change the review_time column to datetime
beer_df["review_time"] = pd.to_datetime(beer_df["review_time"], unit = 's' )
beer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1586614 entries, 0 to 1586613
Data columns (total 13 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   brewery_id          1586614 non-null  int64
 1   brewery_name        1586599 non-null  object
 2   review_time         1586614 non-null  datetime64[ns]
 3   review_overall      1586614 non-null  float64
 4   review_aroma        1586614 non-null  float64
 5   review_appearance   1586614 non-null  float64
 6   review_profilename  1586266 non-null  object
 7   beer_style          1586614 non-null  object
 8   review_palate       1586614 non-null  float64
 9   review_taste        1586614 non-null  float64
 10  beer_name           1586614 non-null  object
 11  beer_abv            1518829 non-null  float64
 12  beer_beerid         1586614 non-null  int64
dtypes: datetime64[ns](1), float64(6), int64(2), object(4)
memory usage: 157.4+ MB

In [13]:
# Count null values
beer_df.isnull().sum()

brewery_id                0
brewery_name             15
review_time               0
review_overall            0
review_aroma              0
review_appearance         0
review_profilename      348
beer_style                0
review_palate             0
review_taste              0
beer_name                 0
beer_abv              67785
beer_beerid               0
dtype: int64

In [16]:
# How much of the dataset is null?
percent_null = beer_df.isnull().sum()/len(beer_df) *100
print(percent_null)

brewery_id            0.000000
brewery_name          0.000945
review_time           0.000000
review_overall        0.000000
review_aroma          0.000000
review_appearance     0.000000
review_profilename    0.021934
beer_style            0.000000
review_palate         0.000000
review_taste          0.000000
beer_name             0.000000
beer_abv              4.272306
beer_beerid           0.000000
dtype: float64

In [17]:
# At worst, we're only losing less than 4.5% of the dataset by dropping rows with null values
beer_df = beer_df.dropna()
beer_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1518478 entries, 0 to 1586613
Data columns (total 13 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   brewery_id          1518478 non-null  int64
 1   brewery_name        1518478 non-null  object
 2   review_time         1518478 non-null  datetime64[ns]
 3   review_overall      1518478 non-null  float64
 4   review_aroma        1518478 non-null  float64
 5   review_appearance   1518478 non-null  float64
 6   review_profilename  1518478 non-null  object
 7   beer_style          1518478 non-null  object
 8   review_palate       1518478 non-null  float64
 9   review_taste        1518478 non-null  float64
 10  beer_name           1518478 non-null  object
 11  beer_abv            1518478 non-null  float64
 12  beer_beerid         1518478 non-null  int64
dtypes: datetime64[ns](1), float64(6), int64(2), object(4)
memory usage: 162.2+ MB

In [23]:
# Check for highest and lowest ratings
beer_df["review_overall"].value_counts()

4.0    559790
4.5    314303
3.5    286901
3.0    155840
5.0     88997
2.5     54660
2.0     35737
1.5     12032
1.0     10211
0.0         7
Name: review_overall, dtype: int64

In [24]:
# A very small percentage (7 out of 1.5 million) of beers have a 0 rating, so these can be dropped.
beer_df = beer_df[beer_df.review_overall != 0]

In [25]:
beer_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1518471 entries, 0 to 1586613
Data columns (total 13 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   brewery_id          1518471 non-null  int64
 1   brewery_name        1518471 non-null  object
 2   review_time         1518471 non-null  datetime64[ns]
 3   review_overall      1518471 non-null  float64
 4   review_aroma        1518471 non-null  float64
 5   review_appearance   1518471 non-null  float64
 6   review_profilename  1518471 non-null  object
 7   beer_style          1518471 non-null  object
 8   review_palate       1518471 non-null  float64
 9   review_taste        1518471 non-null  float64
 10  beer_name           1518471 non-null  object
 11  beer_abv            1518471 non-null  float64
 12  beer_beerid         1518471 non-null  int64
dtypes: datetime64[ns](1), float64(6), int64(2), object(4)
memory usage: 162.2+ MB

In [30]:
# Check for and count duplicate rows (there are none)
len(beer_df)-len(beer_df.drop_duplicates())

0

In [65]:
# Check to see if a beer has been reviewed more than once by the same reviewer
len(beer_df) - len(beer_df.drop_duplicates(subset = ["review_profilename", "beer_beerid"]))

14441

In [74]:
# Drop duplicate rows where a reviewer reviewed a beer more than once
# We want to keep the highest score of the beer
beer_df = beer_df.sort_values("review_overall", ascending = False)
beer_df = beer_df.drop_duplicates(subset = ["review_profilename", "beer_beerid"])

In [75]:
# Count of different number of beers and beer styles reviewed
beer_df.nunique(axis =0)

brewery_id               5230
brewery_name             5155
review_time           1496144
review_overall              9
review_aroma                9
review_appearance           9
review_profilename      32908
beer_style                104
review_palate               9
review_taste                9
beer_name               44075
beer_abv                  530
beer_beerid             49000
dtype: int64

In [36]:
beer_df.head()

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,10325,Vecchio Birraio,2009-02-16 20:57:03,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986
1,10325,Vecchio Birraio,2009-03-01 13:44:57,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,Red Moon,6.2,48213
2,10325,Vecchio Birraio,2009-03-01 14:10:04,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5,48215
3,10325,Vecchio Birraio,2009-02-15 19:12:25,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,Sausa Pils,5.0,47969
4,1075,Caldera Brewing Company,2010-12-30 18:53:26,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7,64883

In [78]:
# What are the top 10 rated beer styles?
beer_df.groupby("beer_style").mean()["review_overall"].sort_values(ascending = False).head(10)

beer_style
American Wild Ale                   4.098530
Gueuze                              4.086610
Quadrupel (Quad)                    4.072829
Lambic - Unblended                  4.061412
American Double / Imperial Stout    4.028225
Russian Imperial Stout              4.022666
Weizenbock                          4.010392
American Double / Imperial IPA      3.997435
Flanders Red Ale                    3.994852
Keller Bier / Zwickel Bier          3.988179
Name: review_overall, dtype: float64