## Now I'm going to clean up the beers.csv to include only beers brewed in the US.

In [1]:
# import dependencies
import pandas as pd

In [2]:
b_df = pd.read_csv("../../Final_Project/beers.csv")
b_df.head()

,id,name,brewery_id,state,country,style,availability,abv,notes,retired
0,202522,Olde Cogitator,2199,CA,US,English Oatmeal Stout,Rotating,7.3,No notes at this time.,f
1,82352,Konrads Stout Russian Imperial Stout,18604,NaN,NO,Russian Imperial Stout,Rotating,10.4,No notes at this time.,f
2,214879,Scottish Right,44306,IN,US,Scottish Ale,Year-round,4.0,No notes at this time.,t
3,320009,MegaMeow Imperial Stout,4378,WA,US,American Imperial Stout,Winter,8.7,Every time this year,f
4,246438,Peaches-N-Cream,44617,PA,US,American Cream Ale,Rotating,5.1,No notes at this time.,f

In [3]:
# Count null values
b_df.isnull().sum()

id                  0
name                0
brewery_id          0
state           60726
country           154
style               1
availability        0
abv             38797
notes              46
retired             0
dtype: int64

In [4]:
# b_df = b_df[b_df["state"].notna()]
b_df = b_df[b_df.country == "US"]

In [5]:
b_df.value_counts(["country"])

country
US         265461
dtype: int64

In [6]:
b_df.nunique()

id              265461
name            220705
brewery_id        7865
state               51
country              1
style              112
availability        18
abv                873
notes            41242
retired              2
dtype: int64

In [7]:
# All should now be from the US.  But why 51 states??
# b_df["state"].value_counts()
# AHHH - the "51st state" is Washington DC

In [38]:
# Check for and count duplicate rows
len(b_df)-len(b_df.drop_duplicates())

0

In [8]:
b_df.head()

,id,name,brewery_id,state,country,style,availability,abv,notes,retired
0,202522,Olde Cogitator,2199,CA,US,English Oatmeal Stout,Rotating,7.3,No notes at this time.,f
2,214879,Scottish Right,44306,IN,US,Scottish Ale,Year-round,4.0,No notes at this time.,t
3,320009,MegaMeow Imperial Stout,4378,WA,US,American Imperial Stout,Winter,8.7,Every time this year,f
4,246438,Peaches-N-Cream,44617,PA,US,American Cream Ale,Rotating,5.1,No notes at this time.,f
6,108605,Icon Sender,22598,CA,US,American Lager,Year-round,5.6,No notes at this time.,f

In [9]:
b_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 265461 entries, 0 to 358872
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            265461 non-null  int64
 1   name          265461 non-null  object
 2   brewery_id    265461 non-null  int64
 3   state         262702 non-null  object
 4   country       265461 non-null  object
 5   style         265460 non-null  object
 6   availability  265461 non-null  object
 7   abv           231814 non-null  float64
 8   notes         265427 non-null  object
 9   retired       265461 non-null  object
dtypes: float64(1), int64(2), object(7)
memory usage: 22.3+ MB

In [10]:
# Change t/f to 1/0 for the retired column
b_df["retired"].replace("t", "1", inplace = True)
b_df["retired"].replace("f", "0", inplace = True)

In [11]:
b_df.head()

,id,name,brewery_id,state,country,style,availability,abv,notes,retired
0,202522,Olde Cogitator,2199,CA,US,English Oatmeal Stout,Rotating,7.3,No notes at this time.,0
2,214879,Scottish Right,44306,IN,US,Scottish Ale,Year-round,4.0,No notes at this time.,1
3,320009,MegaMeow Imperial Stout,4378,WA,US,American Imperial Stout,Winter,8.7,Every time this year,0
4,246438,Peaches-N-Cream,44617,PA,US,American Cream Ale,Rotating,5.1,No notes at this time.,0
6,108605,Icon Sender,22598,CA,US,American Lager,Year-round,5.6,No notes at this time.,0

In [12]:
# change retired to float
b_df["retired"] = b_df.retired.astype(float)
b_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 265461 entries, 0 to 358872
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            265461 non-null  int64
 1   name          265461 non-null  object
 2   brewery_id    265461 non-null  int64
 3   state         262702 non-null  object
 4   country       265461 non-null  object
 5   style         265460 non-null  object
 6   availability  265461 non-null  object
 7   abv           231814 non-null  float64
 8   notes         265427 non-null  object
 9   retired       265461 non-null  float64
dtypes: float64(2), int64(2), object(6)
memory usage: 22.3+ MB

In [13]:
# Check out how many availability types there are
b_df["availability"].value_counts()

 Rotating                  82471
 Limited (brewed once)     58612
Rotating                   40137
Limited (brewed once)      28203
 Year-round                25556
Year-round                  8711
 Fall                       4804
 Winter                     4388
 Summer                     4034
 Spring                     2503
Fall                        1955
Winter                      1564
Summer                      1526
Spring                       983
 Limited (brewed once)         7
 Rotating                      4
 Fall                          2
 Winter                        1
Name: availability, dtype: int64

In [14]:
# Looks like there are leading spaces?
b_df["availability"] = b_df["availability"].str.strip()

In [15]:
b_df["availability"].value_counts()

Rotating                 122612
Limited (brewed once)     86822
Year-round                34267
Fall                       6761
Winter                     5953
Summer                     5560
Spring                     3486
Name: availability, dtype: int64

In [16]:
b_df.nunique()

id              265461
name            220705
brewery_id        7865
state               51
country              1
style              112
availability         7
abv                873
notes            41242
retired              2
dtype: int64

In [30]:
from sklearn.preprocessing import OneHotEncoder
# Create the OneHotEncoder instance
enc = OneHotEncoder(sparse = False)

# Fit the encoder and produce encoded DataFrame
encode_df = pd.DataFrame(enc.fit_transform(b_df.availability.values.reshape(-1,1)))

# Rename encoded columns
encode_df.columns = enc.get_feature_names(["availability"])
encode_df.head()

,availability_Fall,availability_Limited (brewed once),availability_Rotating,availability_Spring,availability_Summer,availability_Winter,availability_Year-round
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [33]:
# Merge the two DataFrames together and drop the availability column
b_df = b_df.merge(encode_df,left_index=True,right_index=True).drop("availability",1)
b_df.head()

<ipython-input-33-2e2bccff2ecb>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  b_df = b_df.merge(encode_df,left_index=True,right_index=True).drop("availability",1)

,id,name,brewery_id,state,country,style,abv,notes,retired,availability_Fall,availability_Limited (brewed once),availability_Rotating,availability_Spring,availability_Summer,availability_Winter,availability_Year-round
0,202522,Olde Cogitator,2199,CA,US,English Oatmeal Stout,7.3,No notes at this time.,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,214879,Scottish Right,44306,IN,US,Scottish Ale,4.0,No notes at this time.,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,320009,MegaMeow Imperial Stout,4378,WA,US,American Imperial Stout,8.7,Every time this year,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,246438,Peaches-N-Cream,44617,PA,US,American Cream Ale,5.1,No notes at this time.,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
6,108605,Icon Sender,22598,CA,US,American Lager,5.6,No notes at this time.,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [35]:
b_df.dtypes

id                                      int64
name                                   object
brewery_id                              int64
state                                  object
country                                object
style                                  object
abv                                   float64
notes                                  object
retired                               float64
availability_Fall                     float64
availability_Limited (brewed once)    float64
availability_Rotating                 float64
availability_Spring                   float64
availability_Summer                   float64
availability_Winter                   float64
availability_Year-round               float64
dtype: object

In [37]:
# Export the cleaned dataset
b_df.to_csv("Clean_data/beer_clean.csv")