In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [11]:
br_df = pd.read_csv("../../Final_Project/beer_reviews.csv")
br_df.head()

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,10325,Vecchio Birraio,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986
1,10325,Vecchio Birraio,1235915097,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,Red Moon,6.2,48213
2,10325,Vecchio Birraio,1235916604,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5,48215
3,10325,Vecchio Birraio,1234725145,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,Sausa Pils,5.0,47969
4,1075,Caldera Brewing Company,1293735206,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7,64883

In [13]:
b_df = pd.read_csv("../../Final_Project/beers.csv")
# b_df.head()

In [14]:
r_df = pd.read_csv("../../Final_Project/reviews.csv")
r_df.head()

,beer_id,username,date,text,look,smell,taste,feel,overall,score
0,271781,bluejacket74,2017-03-17,"750 ml bottle, 2016 vintage, bottle #304 of...",4.00,4.00,4.00,4.25,4.00,4.03
1,125646,_dirty_,2017-12-21,,4.50,4.50,4.50,4.50,4.50,4.50
2,125646,CJDUBYA,2017-12-21,,4.75,4.75,4.75,4.75,4.75,4.75
3,125646,GratefulBeerGuy,2017-12-20,0% 16 oz can. Funny story: As I finally wal...,4.75,4.75,4.50,4.50,4.50,4.58
4,125646,LukeGude,2017-12-20,Classic TH NEIPA. Overflowing head and bouq...,4.25,4.50,4.25,4.25,4.25,4.31

In [15]:
beer_id = r_df["beer_id"]

In [16]:
r_df = r_df.drop(columns = ["username", "text", "beer_id", "date", "overall"])

In [17]:
r_df.dtypes

look     float64
smell    float64
taste    float64
feel     float64
score    float64
dtype: object

In [18]:
# Drop null values
r_df = r_df.dropna()

In [19]:
r_df.dtypes

look     float64
smell    float64
taste    float64
feel     float64
score    float64
dtype: object

In [20]:
# Seperate features from target
y = r_df["score"]
X = r_df.drop(columns = ["score"])

In [21]:
# Split into training and testing
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 5, stratify = y)

In [22]:
# Create LR model
model = LinearRegression()
model.fit(X_train,y_train)
y_pred = model.predict(X_test)

In [23]:
print(model.coef_)
print(model.intercept_)

[0.07415898 0.26219236 0.5093845  0.14616403]
0.034154124095936655

In [25]:
# importing r2_score module
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

# predicting the accuracy score
score=r2_score(y_test,y_pred)
print(f"R2 score is: {score}")
print(f"Mean Squared Error is: {mean_squared_error(y_test,y_pred)}")

R2 score is: 0.9916605317984529
Mean Squared Error is: 0.0026616903049973455