In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [5]:
br_df = pd.read_csv("../Data/Clean_data/beer_reviews_clean.csv")
br_df = br_df.drop(columns = ["Unnamed: 0"])
br_df.head()

,brewery_name,beer_style,brewery_id,review_overall,review_aroma,review_appearance,review_palate,review_taste,beer_abv,beer_beerid,beer_name,review_count
0,Närke Kulturbryggeri AB,Old Ale,10902.0,4.0,4.5,4.00,4.000000,4.5,8.2,57645,! (Old Ale),1.0
1,The Covey Restaurant & Brewery,Belgian Dark Ale,13338.0,4.0,4.0,4.00,4.000000,4.4,10.0,49236,"""100""",5.0
2,Aviator Brewing Company,American IPA,18635.0,4.0,4.0,3.50,4.000000,4.0,6.6,50696,"""100"" Pale Ale",1.0
3,Flossmoor Station Restaurant & Brewery,Belgian Strong Pale Ale,612.0,4.0,3.5,4.25,4.750000,4.5,9.0,44353,"""12"" Belgian Golden Strong Ale",2.0
4,Baltika-Baku,Dortmunder / Export Lager,13640.0,3.0,3.0,3.00,3.166667,3.0,4.8,30080,"""33"" Export",3.0

In [7]:
b_df = pd.read_csv("../../Final_Project/beers.csv")
b_df.head()

,id,name,brewery_id,state,country,style,availability,abv,notes,retired
0,202522,Olde Cogitator,2199,CA,US,English Oatmeal Stout,Rotating,7.3,No notes at this time.,f
1,82352,Konrads Stout Russian Imperial Stout,18604,NaN,NO,Russian Imperial Stout,Rotating,10.4,No notes at this time.,f
2,214879,Scottish Right,44306,IN,US,Scottish Ale,Year-round,4.0,No notes at this time.,t
3,320009,MegaMeow Imperial Stout,4378,WA,US,American Imperial Stout,Winter,8.7,Every time this year,f
4,246438,Peaches-N-Cream,44617,PA,US,American Cream Ale,Rotating,5.1,No notes at this time.,f

In [8]:
r_df = pd.read_csv("../../Final_Project/reviews.csv")
r_df.head()

,beer_id,username,date,text,look,smell,taste,feel,overall,score
0,271781,bluejacket74,2017-03-17,"750 ml bottle, 2016 vintage, bottle #304 of...",4.00,4.00,4.00,4.25,4.00,4.03
1,125646,_dirty_,2017-12-21,,4.50,4.50,4.50,4.50,4.50,4.50
2,125646,CJDUBYA,2017-12-21,,4.75,4.75,4.75,4.75,4.75,4.75
3,125646,GratefulBeerGuy,2017-12-20,0% 16 oz can. Funny story: As I finally wal...,4.75,4.75,4.50,4.50,4.50,4.58
4,125646,LukeGude,2017-12-20,Classic TH NEIPA. Overflowing head and bouq...,4.25,4.50,4.25,4.25,4.25,4.31

In [15]:
beer_id = r_df["beer_id"]

In [16]:
r_df = r_df.drop(columns = ["username", "text", "beer_id", "date", "overall"])

In [17]:
r_df.dtypes

look     float64
smell    float64
taste    float64
feel     float64
score    float64
dtype: object

In [18]:
# Drop null values
r_df = r_df.dropna()

In [19]:
r_df.dtypes

look     float64
smell    float64
taste    float64
feel     float64
score    float64
dtype: object

In [20]:
# Seperate features from target
y = r_df["score"]
X = r_df.drop(columns = ["score"])

In [21]:
# Split into training and testing
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 5, stratify = y)

In [22]:
# Create LR model
model = LinearRegression()
model.fit(X_train,y_train)
y_pred = model.predict(X_test)

In [23]:
print(model.coef_)
print(model.intercept_)

[0.07415898 0.26219236 0.5093845  0.14616403]
0.034154124095936655

In [25]:
# importing r2_score module
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

# predicting the accuracy score
score=r2_score(y_test,y_pred)
print(f"R2 score is: {score}")
print(f"Mean Squared Error is: {mean_squared_error(y_test,y_pred)}")

R2 score is: 0.9916605317984529
Mean Squared Error is: 0.0026616903049973455